.fieldset {
  margin: auto;
  width: 600px;
  height: 190px;
  text-align: center;
  background-color: #d8cfcf;
}

.dropdown {
  display: inline-block;
  background: #fff;
  position: relative;
}

.dropdown-content {
  margin: 0;
  padding: 0;
  display: none;
  width: 120px;
  background: #fff;
  position: absolute;
}

.dropdown-btn-close::before {
  content: "▶";
}

.dropdown_button {
  width: 120px;
  height: 23px;
}

.dropdown-content_element {
  display: block;
  padding: 2px;
  text-decoration: none;
  color: #000;
}

.dropdown-btn-open::before {
  content: "▼";
}

.show-dropdown-content {
  display: block;
  overflow-y: auto;
  max-height: 90px;
}

.dropdown-content_element:hover {
  background-color: #c2b4b4;
}
