.fieldset {
  margin: auto;
  width: 600px;
  height: 190px;
  text-align: center;
  background-color: #d8cfcf;
}

.dropdown {
  display: inline-block;
  background: #fff;
  position: relative;
}

.dropdown-content {
  margin: 0;
  padding: 0;
  display: none;
  width: 162.8px;
  background: #fff;
  position: absolute;
  left: -169px;
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #000;
}

.dropdown-btn-close::before {
  content: "▶";
}

.dropdown_button {
  width: 22px;
  padding: 1px;
  height: 22px;
}

.dropdown-btn-open::before {
  content: "▼";
}

.show-dropdown-content {
  display: block;
  overflow-y: auto;
  max-height: 90px;
}

/* .dropdown-content_element:hover {
  background-color: #c2b4b4;
}
*/
